Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-cplusplus.StringChecker,
  -bugprone-exception-escape
CheckOptions:
  bugprone-unused-return-value.AllowCastToVoid: true
WarningsAsErrors: 'clang-analyzer-*,bugprone-*'
