Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-cplusplus.StringChecker
WarningsAsErrors: 'clang-analyzer-*,bugprone-*'
