Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: 'clang-analyzer-*,bugprone-*'
HeaderFilterRegex: '(src|include)/.*'
